import boto3
from botocore.config import Config

my_config = Config(
    aws_access_key_id = 'AKIATCO2IC2GCBPNQFUX',
    aws_secret_access_key = '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',
    region_name = 'ap-south-1',
    signature_version = 'v4',
)

client = boto3.client('kinesis', config=my_config)